USE [equity_ods]
GO
/****** Object:  Schema [date]    Script Date: 10/6/2015 9:39:57 AM ******/
IF  EXISTS (SELECT * FROM sys.schemas WHERE name = N'date')
DROP SCHEMA [date]
GO
/****** Object:  Schema [date]    Script Date: 10/6/2015 9:39:59 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'date')
EXEC sys.sp_executesql N'CREATE SCHEMA [date] AUTHORIZATION [dbo]'

GO
