USE [master]
GO
/****** Object:  Database [equity_dw]    Script Date: 10/6/2015 9:35:18 AM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'equity_dw')
DROP DATABASE [equity_dw]
GO
/****** Object:  Database [equity_dw]    Script Date: 10/6/2015 9:35:18 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'equity_dw')
BEGIN
CREATE DATABASE [equity_dw]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'equity_dw', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL_2014_A\MSSQL\DATA\equity_dw.mdf' , SIZE = 698368KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'equity_dw_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL_2014_A\MSSQL\DATA\equity_dw_log.ldf' , SIZE = 1964480KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [equity_dw].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[equity_dw] TO [CKUMAR\Katherine]
GO
