USE [master]
GO
/****** Object:  Database [equity_ods]    Script Date: 10/6/2015 9:39:57 AM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'equity_ods')
DROP DATABASE [equity_ods]
GO
/****** Object:  Database [equity_ods]    Script Date: 10/6/2015 9:39:57 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'equity_ods')
BEGIN
CREATE DATABASE [equity_ods]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'equity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL_2014_A\MSSQL\DATA\equity.mdf' , SIZE = 1480704KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'equity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL_2014_A\MSSQL\DATA\equity_log.ldf' , SIZE = 3828544KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [equity_ods].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[equity_ods] TO [CKUMAR\Katherine]
GO
USE [equity_ods]
GO
GRANT CONNECT TO [cdc] AS [dbo]
GO
USE [master]
GO
